<template>
  <b-container fluid class="activar-cuenta">
    <b-row align-v="center" class="justify-content-md-center ingreso-content">
      <b-col cols="8">
        <b-row class="mt-4 mb-2">
          <b-col>
            <b-link to="/">Volvé al inicio</b-link>
          </b-col>
        </b-row>
        <b-row class="mb-2">
          <b-col>
            <b-img
              class="mb-5"
              center
              :src="require('../assets/images/logo-ingreso.svg')"
              fluid
              alt="Logo de Ara"
              width="135"
            ></b-img>
            <h3 class="text-center">
              Activación de cuenta
            </h3>
            <p class="text-center lead">
              Ingresá los siguientes datos para activar tu cuenta
            </p>
          </b-col>
        </b-row>
        <b-row class="mb-5">
          <b-col>
            <b-card>
              <b-row>
                <b-col cols="4">
                  <h4 class="text-primary">Información de Ante</h4>
                  <h4 class="text-muted">
                    <small
                      ><strong>Ante</strong> es la persona que registrará sus
                      hitos en Ara</small
                    >
                  </h4>
                </b-col>
                <b-col cols="8">
                  <b-form-group
                    label="Nombre:"
                    label-for="nested-name"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-name"
                      placeholder="Ingresá tu nombre"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    label="Apellido:"
                    label-for="nested-surname"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-surname"
                      placeholder="Ingresá tu apellido"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    class="mb-4"
                    label="Cédula:"
                    label-for="nested-ci"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-ci"
                      placeholder="Ingresá tu cédula"
                    ></b-form-input>
                  </b-form-group>

                  <hr />

                  <b-form-group
                    class="mt-4"
                    label="E-mail:"
                    label-for="nested-email"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                    type="email"
                      id="nested-email"
                      placeholder="Ingresá tu e-mail"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    class="mb-0"
                    label="Teléfono:"
                    label-for="nested-phone"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-phone"
                      placeholder="Ingresá tu número de teléfono"
                      type="tel"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card>
            <b-card class="mt-4">
              <b-row>
                <b-col cols="4">
                  <h4 class="text-primary">Información de Ade</h4>
                  <h4 class="text-muted">
                    <small
                      ><strong>Ade</strong> es la persona que recibirá los hitos
                      en Ara</small
                    >
                  </h4>
                </b-col>
                <b-col cols="8">
                  <b-form-group
                    label="Nombre:"
                    label-for="nested-ade-name"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-ade-name"
                      placeholder="Ingresá el nombre de Ade"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    label="Apellido:"
                    label-for="nested-ade-surname"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-ade-surname"
                      placeholder="Ingresá el apellido de Ade"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    class="mb-4"
                    label="Cédula:"
                    label-for="nested-ade-ci"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-ade-ci"
                      placeholder="Ingresá la cédula de Ade"
                    ></b-form-input>
                  </b-form-group>

                  <hr />

                  <b-form-group
                    class="mt-4"
                    label="E-mail:"
                    label-for="nested-ade-email"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                    type="email"
                      id="nested-ade-email"
                      placeholder="Ingresá el e-mail de Ade"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    class="mb-4"
                    label="Teléfono:"
                    label-for="nested-ade-phone"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-ade-phone"
                      placeholder="Ingresá el número de teléfono de Ade"
                      type="tel"
                    ></b-form-input>
                  </b-form-group>

                  <hr />

                  <b-form-group
                    class="mt-4 mb-0"
                    label="Fecha de solicitud de consentimiento:"
                    label-for="nested-date"
                    label-cols-sm="6"
                    label-align-sm="right"
                    description="Fecha en que se enviará el pedido de consentimiento para aceptar la titularidad de Ara"
                    tooltip
                  >
                    <b-form-datepicker
                      id="nested-date"
                      class="mb-2"
                      placeholder="Elegí una fecha"
                      hide-header
                      start-weekday="1"
                      :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit', weekday: 'short' }"
                      v-model="value"
                      :min="min"
                      label-current-month="Mes actual"
                      label-help="Usá las flechas de tu teclado para navegar por las fechas"
                      label-next-month="Mes siguiente"
                      label-next-year="Año siguiente"
                      label-prev-month="Mes anterior"
                      label-prev-year="Año anterior"
                    ></b-form-datepicker>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card>
            <b-card class="mt-4">
              <b-row>
                <b-col cols="4">
                  <h4 class="text-primary">Últimos pasos</h4>
                  <h4 class="text-muted">
                    <small
                      >Elegí una contraseña y repasá nuestros términos y
                      condiciones</small
                    >
                  </h4>
                </b-col>
                <b-col cols="8">
                  <b-form-group
                    label="Contraseña:"
                    label-for="nested-ade-pass"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-ade-pass"
                      placeholder="Ingresá una contraseña"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    label="Confirmar:"
                    label-for="nested-passconfirm"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <b-form-input
                      id="nested-passconfirm"
                      placeholder="Ingresá la contraseña nuevamente"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    label-for="nested-terms"
                    label-cols-sm="2"
                    label-align-sm="right"
                    class="mt-4"
                  >
                    <b-form-checkbox
                      id="nested-terms"
                      name="nested-terms"
                    >
                      Acepto los <b-link v-b-modal.terminos>Términos y Condiciones</b-link>
                      <b-modal id="terminos" size="md" hide-footer centered scrollable>
                        <Terminos />
                      </b-modal>
                    </b-form-checkbox>
                  </b-form-group>

                  <b-form-group
                    label-for="nested-terms"
                    label-cols-sm="2"
                    label-align-sm="right"
                    class="mt-4 mb-0"
                  >
                  <b-btn to="/" class="float-right" variant="primary">
                    Activar Cuenta
                  </b-btn>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row
      align-v="center"
      class="justify-content-md-center ingreso-footer p-5"
    >
      <b-col>
        <h3 class="text-center text-light mb-4 mt-2">¿Alguna duda?</h3>
        <b-link
          class="d-block text-center text-light h5"
          href="mailto:ayuda@ireneo.com"
          >ayuda@ireneo.com</b-link
        >
        <b-link class="d-block text-center text-light h5 mb-3" href="tel:090 123 456"
          >090 123 456</b-link
        >
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Terminos from "@/components/Terminos.vue";
export default {
  name: "ActivarCuenta",
  components: {
    Terminos,
  },
  data() {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    const minDate = new Date(today)
    return {
      value: '',
      min: minDate,
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
    },
  },
};
</script>

<style lang="scss" scoped>
.ingreso-content {
}
.ingreso-footer {
  background: var(--primary);
}
</style>
