<template>
  <b-container fluid class="cuenta">
    <b-row align-v="center" class="justify-content-md-center ingreso-content">
      <b-col cols="8" class="mt-1">
        <b-row class="mt-5 mb-4" align-h="end">
          <b-col>
          </b-col>
          <b-col>
            <h3 class="text-center">
              Información de cuenta
            </h3>
          </b-col>
          <b-col class="mb-3">
            <b-btn class="float-right" variant="primary">
              Editar Información
            </b-btn>
          </b-col>
        </b-row>
        <b-row class="mb-5">
          <b-col>
            <b-card>
              <b-row>
                <b-col cols="4">
                  <h4 class="text-primary">Información de Ante</h4>
                  <h4 class="text-muted">
                    <small
                      ><strong>Ante</strong> es la persona que registrará sus
                      hitos en Ara</small
                    >
                  </h4>
                </b-col>
                <b-col cols="8">
                  <b-form-group
                    label="Nombre:"
                    label-for="nested-name"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">Laura</p>
                  </b-form-group>

                  <b-form-group
                    label="Apellido:"
                    label-for="nested-surname"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">Echeverre</p>
                  </b-form-group>

                  <b-form-group
                    class="mb-4"
                    label="Cédula:"
                    label-for="nested-ci"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">1.234.567-8</p>
                  </b-form-group>

                  <hr />

                  <b-form-group
                    class="mt-4"
                    label="E-mail:"
                    label-for="nested-email"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">lauraecheverre@gmail.com</p>
                  </b-form-group>

                  <b-form-group
                    class="mb-0"
                    label="Teléfono:"
                    label-for="nested-phone"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">090 123 456</p>
                  </b-form-group>
                </b-col>
              </b-row>
              </b-card>
              <b-card class="mt-4">
              <b-row>
                <b-col cols="4">
                  <h4 class="text-primary">Información de Ade</h4>
                  <h4 class="text-muted">
                    <small
                      ><strong>Ade</strong> es la persona que recibirá los hitos
                      en Ara</small
                    >
                  </h4>
                </b-col>
                <b-col cols="8">
                  <b-form-group
                    label="Nombre:"
                    label-for="nested-ade-name"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">Lucía</p>
                  </b-form-group>

                  <b-form-group
                    label="Apellido:"
                    label-for="nested-ade-surname"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">Echeverre</p>
                  </b-form-group>

                  <b-form-group
                    class="mb-4"
                    label="Cédula:"
                    label-for="nested-ade-ci"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">2.345.678-9</p>
                  </b-form-group>

                  <hr />

                  <b-form-group
                    class="mt-4"
                    label="E-mail:"
                    label-for="nested-ade-email"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">luciaecheverre@gmail.com</p>
                  </b-form-group>

                  <b-form-group
                    class="mb-4"
                    label="Teléfono:"
                    label-for="nested-ade-phone"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label">090 234 567</p>
                  </b-form-group>

                  <hr />

                  <b-form-group
                    class="mt-4 mb-0"
                    label="Fecha de solicitud de consentimiento:"
                    label-for="nested-date"
                    label-cols-sm="6"
                    label-align-sm="right"
                    description="Fecha en que se enviará el pedido de consentimiento para aceptar la titularidad de Ara"
                    tooltip
                  >
                    <p class="font-weight-bold col-form-label">14 de Junio de 2024</p>
                  </b-form-group>
                </b-col>
              </b-row>
              </b-card>
              <b-card class="mt-4">
              <b-row>
                <b-col cols="4">
                  <h4 class="text-primary">Seguridad</h4>
                  <h4 class="text-muted">
                    <small
                      >Datos que protegen tu cuenta</small
                    >
                  </h4>
                </b-col>
                <b-col cols="8">
                  <b-form-group
                  class="mb-0"
                    label="Contraseña:"
                    label-for="nested-ade-pass"
                    label-cols-sm="2"
                    label-align-sm="right"
                  >
                    <p class="font-weight-bold col-form-label mb-0">&bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull;</p>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Cuenta",
  data() {
    return {
      form: {
        cedula: "",
      },
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
    },
  },
};
</script>

<style lang="scss" scoped>
.cuenta {
  padding-top: 3rem;
}
.ingreso-footer {
  background: var(--primary);
}
</style>
