<template>
  <b-container class="hitos" fluid>
    <b-alert :show="mssg.length> 0" dismissible variant="success" fade class="mt-3">
      <p>{{ mssg }}</p>
    </b-alert>

    <b-button-toolbar
      v-if="'timeline' == $store.state.view"
      class="position-absolute btn-group-naveg"
    >
      <b-button-group>
        <b-button size="sm">
          <b-icon icon="arrow-left"></b-icon>
        </b-button>
        <b-button size="sm">
          <b-icon icon="arrow-right"></b-icon>
        </b-button>
      </b-button-group>
    </b-button-toolbar>

    <b-button
      class="position-fixed btn-crear"
      size="lg"
      variant="primary"
      @click="nuevoHito()"
      >Crear hito</b-button
    >

    <b-modal
      v-model="modal"
      id="ver-hito"
      size="lg"
      body-class="p-0"
      hide-footer
      centered
    >
      <Hito
        :create="mode"
        :hito="selectedEvent"
        v-on:hito-deleted="handleHito"
        v-on:hito-sumbited="handleHito"
      />
    </b-modal>

    <div id="timeline-container">
      <div v-if="loading" class="d-flex justify-content-center my-5">
        <b-spinner variant="secondary" v-if="loading" label="Spinning" class="text-center"></b-spinner>
      </div>
      <span v-else>
        <Timeline v-if="'timeline' == $store.state.view" :data="events" />
        <HitosLista
          v-on:selected-event="updateSelectedEvent"
          :data="events"
          v-else
        />
      </span>
    </div>
  </b-container>
</template>

<script>
import Timeline from "../components/Timeline.vue";
import Hito from "../components/Hito.vue";
import HitosLista from "../components/Lista.vue";
export default {
  name: "Hitos",
  components: {
    Timeline,
    Hito,
    HitosLista,
  },
  data() {
    return {
      modal: false,
      loading: true,
      tdata: null,
      events: null,
      mssg: "",
      mode: true,
      selectedEvent: null,
    };
  },
  mounted() {
    this.getHitos();
  },
  methods: {
    getHitos() {
      this.axios.get("https://nicolai.uy/api.php").then((response) => {
        this.loading = false;
        response.data.forEach((event) => {
          event.start = new Date(event.start);
          event.end = new Date(event.end);
        });
        this.events = response.data;
      });
    },
    handleHito(result) {
      const status = result.status;
      const type = result.type;

      // Cierro modal en post exitoso
      if (status) {
        this.modal = false;
        const action = type == "delete" ? "eliminado" : "creado";
        this.mssg = "¡El Hito fue " + action + " con éxito!";
        
        this.getHitos();

        setTimeout(() => {
          this.mssg = "";
        }, 5000);
      }

    },
    nuevoHito() {
      this.mode = true;
      this.modal = true;
    },
    updateSelectedEvent(event) {
      console.log(event);
      this.selectedEvent = event;
      this.mode = false;
      this.modal = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.hitos {
  padding-top: 112px;

  .btn-group-naveg {
    right: 5rem;
    top: 10rem;
  }
  .btn-crear {
    right: 5rem;
    bottom: 5rem !important;
    z-index: 1000;
  }

  #timeline-container {
    text-align: center;
  }
}
</style>