<template>
    <b-container fluid class="ingreso">
      <b-row align-v="center" class="justify-content-md-center ingreso-content">
        <b-col cols="3">
          <b-row class="mb-2">
            <b-col>
              <b-img
                class="mb-5"
                center
                :src="require('../assets/images/logo-ingreso.svg')"
                fluid
                alt="Logo de Ara"
                width="135"
              ></b-img>
              <p class="text-center lead">Ingresá tus datos para continuar</p>
            </b-col>
          </b-row>
          <b-row class="mb-5">
            <b-col>
              <b-form @submit="onSubmit" v-if="show">
                <b-form-group id="input-group-1">
                  <b-form-input
                    id="input-1"
                    placeholder="Ingresá tu cédula"
                    required
                  ></b-form-input>
                  <b-form-input
                    id="input-2"
                    class="mt-2"
                    placeholder="Ingresá tu contraseña"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-link to="activarcuenta">Activá tu cuenta</b-link>
                <b-button type="submit" variant="primary" class="float-right" to="hitos">Siguiente</b-button>
              </b-form>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row align-v="center" class="justify-content-md-center ingreso-footer p-4">
        <b-col>
          <h3 class="text-center text-light mb-4">¿Alguna duda?</h3>
          <b-link class="d-block text-center text-light h5" href="mailto:ayuda@ireneo.com">ayuda@ireneo.com</b-link>
          <b-link class="d-block text-center text-light h5" href="tel:090 123 456">090 123 456</b-link>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
export default {
  name: "Ingreso",
  data() {
    return {
      form: {
        cedula: "",
      },
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
    },
  },
};
</script>

<style lang="scss" scoped>
.ingreso-content {
  height: 70vh;
}
.ingreso-footer {
  height: 30vh;
  background: var(--primary);
}
</style>
