<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <h4 class="text-center mb-3">¿Alguna duda?</h4>
        <b-link class="d-block text-center h4" href="mailto:ayuda@ireneo.com"><small>ayuda@ireneo.com</small></b-link>
        <b-link class="d-block text-center h4" href="tel:090 123 456"><small>090 123 456</small></b-link>
        <b-link class="d-block text-center h4 mt-3" href="#"><small>Ver tutorial de nuevo</small></b-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Ayuda",
};
</script>

<style scoped lang="scss">
</style>