<template>
  <header class="fixed-top">
    <b-navbar toggleable="sm" type="dark" variant="primary">
      <b-navbar-brand to="/hitos" class="pt-0 mt-n1">
        <img src="../assets/images/logo.svg" alt="Logo de Ara" width="50" />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/hitos">Hitos</b-nav-item>
          <b-nav-item to="/cuenta">Cuenta</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item v-b-modal.ayuda>Ayuda</b-nav-item>

          <b-modal id="ayuda" size="sm" hide-footer centered>
            <Ayuda />
          </b-modal>
          <b-nav-item href="/">Salir</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-navbar
      class="pt-1 pb-1"
      toggleable="sm"
      type="light"
      variant="light"
      v-show="$route.name == 'Hitos'"
    >
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-text>Ver como:</b-nav-text>
          <b-nav-item @click="$store.dispatch('updateView', 'timeline')" href="#" :class="'ml-2 ' + isActiveClass('timeline')">Línea</b-nav-item>
          <b-nav-text class="text-black-50">/</b-nav-text>
          <b-nav-item @click="$store.dispatch('updateView', 'list')" href="#" :class="'ml-2 ' + isActiveClass('list')">Lista</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="buscador mx-auto">
          <b-nav-form class="w-100 ml-3">
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Buscar hito"
            ></b-form-input>
            <b-button
              size="sm"
              class="my-2 my-sm-0"
              type="submit"
              variant="primary"
              >Buscar</b-button
            >
          </b-nav-form>
        </b-navbar-nav>

        <b-navbar-nav>
          <b-nav-text class="my-1 mr-3">Zoom</b-nav-text>
          <b-button-toolbar class="my-2">
            <b-button-group>
              <b-button size="sm" variant="outline-primary">
                <b-icon icon="dash"></b-icon>
              </b-button>
              <b-button size="sm" variant="outline-primary">
                <b-icon icon="plus"></b-icon>
              </b-button>
            </b-button-group>
          </b-button-toolbar>
        </b-navbar-nav>
      </b-collapse>
      
    </b-navbar>
  </header>
</template>
<script>
import Ayuda from "@/components/Ayuda.vue";

export default {
  name: "Header",
  components: {
    Ayuda,
  },
  methods: {
    isActiveClass(type) {
      return this.$store.state.view == type ? 'active' : '';
    },
  }
};
</script>

<style scoped lang="scss">
.router-link-active {
  color: #fff !important;
}

.active a{
  color: var(--primary) !important;
}

.buscador {
  width: 70%;
}

.buscador form {
  width: 100%;
}

.buscador input {
  width: 91% !important;
}
</style>