<template>
  <b-container fluid class="p-0">
    <div v-if="loading" class="d-flex justify-content-center my-5">
      <b-spinner
        variant="secondary"
        v-if="loading"
        label="Spinning"
        class="text-center"
      ></b-spinner>
    </div>
    <b-row v-else no-gutters>
      <!-- <form action=""> -->
      <b-col v-if="!create" md="6">
        <b-embed
          type="video"
          aspect="4by3"
          controls
          poster="../assets/video.png"
          class="rounded-left"
        >
          <source src="../assets/video.mp4" type="video/mp4" />
        </b-embed>
      </b-col>
      <b-col v-else md="6" class="bg-light px-3 col-archivo">
        <b-form-file
          v-model="media"
          class="mt-3 text-center"
          placeholder="Hacé clic acá o arrastrá un archivo para agregarlo al hito"
          drop-placeholder="Soltá tu archivo acá"
          no-drop-placeholder="Ese formato no es soportado"
        ></b-form-file>
      </b-col>
      <b-col md="6" class="pl-3">
        <b-row class="pt-3 px-2">
          <b-col>
            <h4 v-if="!create" class="mb-0">
              {{ hito.name }}
            </h4>
            <b-form-input
              v-b-tooltip.hover
              title="El nombre será visible para Ade"
              v-else
              v-model="name"
              placeholder="*Agregá un nombre"
              class="mb-2"
            ></b-form-input>

            <p v-if="!create" class="text-muted">
              {{ hito.start }}
            </p>
            <b-row v-else no-gutters>
              <b-col class="mr-2">
                <b-form-datepicker
                  id="example-datepicker"
                  class="mb-2"
                  placeholder="*Elegí una fecha"
                  hide-header
                  start-weekday="1"
                  :date-format-options="{
                    year: 'numeric',
                    month: 'short',
                    day: '2-digit',
                    weekday: 'short',
                  }"
                  v-model="start"
                  :min="min"
                  label-current-month="Mes actual"
                  label-help="Usá las flechas de tu teclado para navegar por las fechas"
                  label-next-month="Mes siguiente"
                  label-next-year="Año siguiente"
                  label-prev-month="Mes anterior"
                  label-prev-year="Año anterior"
                ></b-form-datepicker>
              </b-col>
              <b-col>
                <b-form-timepicker
                  hide-header
                  v-model="time"
                  label-minutes="Minutos"
                  label-hours="Horas"
                  placeholder="*Elegí una hora"
                  no-close-button
                ></b-form-timepicker>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <b-row class="px-2">
          <b-col>
            <p v-if="!create">{{ hito.description }}</p>
            <b-form-textarea
              v-b-tooltip.hover
              title="La descripción del hito no será visible para Ade"
              v-else
              id="textarea"
              v-model="description"
              placeholder="Agregá una descripción"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-col>
        </b-row>
        <b-row v-if="!create" class="px-2 position-absolute hito-footer w-100">
          <b-col>
            <p class="text-muted mb-0">Creado el {{ hito.created }}</p>
            <hr class="hito-hr" />
            <b-button @click="deleteHito" variant="outline-primary"
              >Eliminar Hito</b-button
            >
            <b-button
              @click="updateHito"
              class="float-right"
              variant="primary"
              >{{ etiqueta }}</b-button
            >
          </b-col>
        </b-row>
        <b-row v-else class="py-2 px-2">
          <b-col>
            <b-button
              @click="updateHito"
              class="float-right"
              variant="primary"
              >{{ etiqueta }}</b-button
            >
          </b-col>
        </b-row>
      </b-col>
      <!-- </form> -->
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Hito",
  props: {
    create: {
      type: Boolean,
      default: false,
    },
    hito: {
      type: Object,
      require: false,
      default: () => ({
        id: "0",
        name: " Lucía cumple 14",
        description:
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, diam.",
        start: "Aparece el 24 de Agosto de 2021 a las 18:53",
        created: "10 de Mayo de 2020 a las 15:20",
      }),
    },
  },
  data() {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    const minDate = new Date(today);
    return {
      loading: false,
      name: "",
      description: "",
      start: "",
      time: "",
      media: null,
      type: "",
      creado: "",
      min: minDate,
    };
  },
  computed: {
    etiqueta() {
      return this.create ? "Crear Hito" : "Editar Hito";
    },
    datetime() {
      const dt = new Date(this.start + " " + this.time);
      const year = dt.getFullYear();
      const month = dt.getMonth() + 1 ;
      const day = dt.getDate();
      const hours = dt.getHours();
      const minutes = dt.getMinutes();
      const seconds = dt.getSeconds();
      return `${year}/${month}/${day} ${hours}:${minutes}:${seconds}`;
    }
  },
  methods: {
    async updateHito() {
      this.loading = true;
      let result;


      if(!this.media){
        return;
      }

      const type = this.media.type;

      const fileToBlob = async (file) =>
        new Blob([new Uint8Array(await file.arrayBuffer())], {
          type: file.type,
        });

      fileToBlob(this.media).then((_blob) => {

        const config = {
          header: {
            "Content-Type": "multipart/form-data",
          },
        };

        var data = new FormData();
        data.append("name", this.name);
        data.append("description", this.description);
        data.append("start", this.datetime);
        data.append("end", this.start);
        data.append("media", _blob);
        data.append("type", type);

        this.axios
          .post("https://nicolai.uy/api.php", data, config)
          .then((response) => {
            result = true;
          })
          .catch(() => {
            result = false;
          })
          .finally(() => {
            this.loading = false;
            this.$emit("hito-sumbited", { status: result, type: "created" });
          });
      });
    },
    deleteHito() {
      this.loading = true;
      let result;

      this.axios
        .delete("https://nicolai.uy/api.php?id=" + this.hito.id)
        .then((response) => {
          result = true;
        })
        .catch(() => {
          result = false;
        })
        .finally(() => {
          this.loading = false;
          this.$emit("hito-deleted", { status: result, type: "delete" });
        });
    },
  },
};
</script>

<style scoped lang="scss">
.hito-footer {
  bottom: 1.2rem;
}
.hito-hr {
  margin-top: 0.7rem;
  margin-bottom: 1.05rem;
}
</style>