<template>
  <b-container class="hitos-lista px-0 mx-0" fluid>
    <b-row align-h="center">
      <b-col cols="2">
        <b-nav vertical class="text-right mr-4">
          <b-nav-text class="h5 pt-0">Ordenar por</b-nav-text>
          <b-nav-text>Fecha de aparición</b-nav-text>
          <b-nav-item>Primeros</b-nav-item>
          <b-nav-item>Últimos</b-nav-item>
          <b-nav-text>Orden alfabético</b-nav-text>
          <b-nav-item>A - Z</b-nav-item>
          <b-nav-item>Z - A</b-nav-item>
          <b-nav-text class="mt-4">Filtrar por</b-nav-text>
          <b-nav-item>Video</b-nav-item>
          <b-nav-item>Foto</b-nav-item>
          <b-nav-item>Audio</b-nav-item>
        </b-nav>
      </b-col>
      <b-col cols="8" class="mr-n4">
        <b-card-group deck class="d-flex">
          <b-card
            @click="selectedEvent(event)"
            :key="event.title"
            v-for="event in data"
            no-body
            class="overflow-hidden mb-4"
            style="flex-basis: 29%; flex-grow: 0;"
          >
            <b-row no-gutters>
              <b-col md="5">
                <b-card-img
                  :src="require('../assets/video.png')"
                  alt="Image"
                  class="rounded-0"
                  style="object-fit: cover; width: 100%; height: 100%;"
                ></b-card-img>
              </b-col>
              <b-col md="7">
                <b-card-body class="text-left p-3">
                  <b-card-title title-tag="h5" class="mb-0">{{ event.name }}</b-card-title>
                  <b-card-text class="text-muted">
                    Aparece el {{ event.start }}
                  </b-card-text>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>
      </b-col>
      <b-col cols="2">
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Hito from "./Hito.vue";
export default {
  name: "HitosLista",
  components: {
    Hito,
  },
  props: {
    data: {
      type: Array,
      require: true,
    },
  },
  methods: {
    selectedEvent(event) {
      this.$emit("selected-event", event);
    },
  },
};
</script>

<style lang="scss" scoped>
.hitos-lista {
  padding-top: 3rem;

  .nav-link {
    padding-right: 0;
  }

  .card-body {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .card {
    &:hover {
      cursor: pointer;

      .card-body {
        background: var(--primary);
      }

      .card-title, .card-text {
        color: white !important;
      }
    }
  }
}
</style>