<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <h4 class="text-center mb-3">Términos y Condiciones</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia
          mattis purus sed rutrum. Nullam vehicula elit posuere nunc luctus, ac
          tempus purus tincidunt. Integer gravida tellus vitae dui tincidunt,
          non faucibus nisl suscipit. Integer fringilla laoreet mauris et
          vulputate. Curabitur vitae erat in sem congue pharetra ac et massa. Ut
          nec hendrerit turpis. In sed venenatis nisl. Praesent semper in elit
          non condimentum. Maecenas consequat mi dui, sed molestie eros interdum
          eu. Aliquam ex ipsum, euismod eu aliquet at, ullamcorper at odio.
          Morbi nec condimentum leo, id pulvinar sapien.
        </p>

        <p>
          Mauris non libero vel nisl ornare laoreet. In tristique auctor sapien
          sed vulputate. Maecenas in purus sit amet velit finibus pharetra. Nunc
          blandit lorem id quam eleifend, eget interdum eros consectetur. Ut eu
          dignissim nisi, vitae ultricies urna. Mauris nec velit et nulla
          vehicula accumsan quis ut mauris. Vestibulum interdum tempus lacus id
          fermentum. Cras molestie blandit elit, at lacinia libero vulputate a.
          Vivamus tincidunt eros viverra erat cursus dapibus. Suspendisse
          potenti. In tincidunt tortor eu orci placerat placerat. Aenean quis
          maximus erat, sed lobortis ex. Nam et pulvinar lacus. Aliquam finibus
          et sem eu bibendum. Nam lorem diam, consequat nec mollis ut, tincidunt
          vitae sem. Nulla vel neque interdum, viverra mi sit amet, rhoncus
          risus.
        </p>

        <p>
          Quisque interdum, purus a semper sodales, magna enim malesuada magna,
          vitae commodo mauris nisl non ex. Nulla sed erat vitae nunc molestie
          vulputate. Vivamus in interdum sem. Quisque in arcu nunc. Donec ac
          venenatis nunc. Nunc lacinia ligula eu massa luctus, vitae volutpat
          odio blandit. Fusce rhoncus, nisi nec semper pulvinar, ante nunc
          sollicitudin justo, ut lacinia nulla enim at dolor. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Ut euismod magna ac elit laoreet eleifend. Fusce ultricies lacus
          velit, vitae varius felis dapibus ac. Phasellus convallis lacinia
          lobortis. Morbi vitae semper eros. Quisque elementum hendrerit sem,
          eget lobortis felis dignissim non. Sed vestibulum finibus odio sed
          ultricies.
        </p>

        <p>
          Suspendisse lectus ligula, efficitur quis lacinia sit amet, facilisis
          nec lacus. Aliquam faucibus ipsum urna, nec ultrices nunc aliquam sit
          amet. Nam semper dignissim lobortis. Sed ut ipsum in dolor lobortis
          aliquam sodales at nisi. Aliquam sollicitudin in odio et placerat.
          Nullam ac laoreet justo. Curabitur ultricies et justo gravida
          ultrices. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Donec mollis magna id justo ornare hendrerit. Duis nunc dui,
          euismod a augue eget, viverra fringilla dolor. Donec ullamcorper et
          augue ac laoreet. Quisque at fermentum tortor, vitae egestas libero.
          Proin pretium, purus eget ullamcorper efficitur, metus ex condimentum
          ante, ornare placerat sem magna tempor turpis.
        </p>

        <p>
          Proin ut facilisis sapien. Phasellus luctus odio a facilisis ultrices.
          Morbi non varius mauris. Sed vestibulum tortor et dui venenatis
          fermentum. Integer cursus nisi nibh, ac imperdiet felis euismod nec.
          Maecenas eu erat non nunc iaculis pharetra. Morbi auctor feugiat
          posuere. Suspendisse ut pellentesque felis. Sed orci odio, posuere id
          magna ut, mattis dignissim elit. Fusce sagittis leo et consectetur
          tincidunt.
        </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Ayuda",
};
</script>

<style scoped lang="scss">
</style>