<template>
  <div id="app">
    <Header v-show="$route.name!=='Ingreso' && $route.name!=='ActivarCuenta'" />
    <router-view class="container" />
  </div>
</template>

<script>
import Header from '@/components/Header.vue';

export default {
  name: 'App',
  components: {
    Header,
  },
};
</script>