@font-face {
  font-family: 'Calibre';
  src: url('assets/fonts/Calibre_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('assets/fonts/Calibre_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('assets/fonts/Calibre_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('assets/fonts/Calibre_Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Define your variable overrides here
$primary: #D18B73;
$body-bg: #ebebeb;
$link-decoration: underline;
$font-family-sans-serif: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-line-height: 1.1;
$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: .8;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
.container-fluid:not(.hitos-lista) {
  max-width: unset;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.btn-primary {
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover {
  color: #fff !important;
}

.modal-header {
  border: none;
  position: absolute;
  right: -2.5rem;
  top: -2.5rem;
}

.modal-header .close {
  font-size: 2rem;
  font-weight: 600;
}

.col-archivo label {
  padding: 6.7rem 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.4;
}

.col-archivo label span {
  margin-top: -1.4rem;
  white-space: normal;
  padding: 0 4rem;
}

.col-archivo .custom-file-input:lang(es) ~ .custom-file-label::after {
  display: none;
}